NEXT_PUBLIC_SUPABASE_URL=https://eoiuutzjlldgyljxicdo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVvaXV1dHpqbGxkZ3lsanhpY2RvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk0OTM4MzAsImV4cCI6MjA5NTA2OTgzMH0.LFU2gLgM37n54treXoWwwcMJlAKhr8Kvi1n7H_wUggg
NEXT_PUBLIC_API_URL=http://localhost:3001
